.header {
  position: absolute;
  top: 0;
  left: 0.5dvw;

  overflow: hidden;

  width: 99dvw;
  border-radius: 1dvh;

  color: white;

  box-shadow: 0 7px 13px 0 rgb(8 20 54 / 60%);

  &_active {
    cursor: pointer;
  }

  &__top {
    display: flex;
    gap: 1.3dvh;
    align-items: center;

    padding: 1dvh;

    background: rgb(25 46 112 / 90%);
  }

  &__logo {
    flex: 0 0 6.4dvh;
    min-width: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    align-self: stretch;
  }

  &__text {
    flex-grow: 1;

    margin-bottom: 0.52dvh;

    font-size: 1.45dvh;
    line-height: 1.92dvh;
    color: #fff;
  }

  &__text-yellow-accent {
    color: #fbe689;
  }

  &__stars-first {
    width: 13dvh;
  }

  &__stars-second {
    width: 15dvh;
  }

  &__button {
    flex: 0 0 13.2dvh;
    min-width: 0;
  }

  &__bottom {
    padding: 0.6dvh 1dvh;

    font-size: 1.3dvh;
    color: white;
    text-align: center;

    background: #0d8ef5;
  }

  &__bottom-iphone {
    display: inline-block;
    height: 1.4dvh;
    margin: 0 2px;
    vertical-align: top;
  }
}
