.main {
  position: relative;

  overflow: hidden;

  width: 100dvw;
  height: 100dvh;

  background: #000;
  background-image: url('../assets/imagesForCss/background.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}
