@use './reset';
@use './main';
@use './startButton';
@use './milestone';
@use './starsPlayer';
@use './avatar';
@use './popup';

:root {
  --milestone-1-left: calc(50dvw - 8.3dvh);
  --milestone-1-top: 89dvh;
  --milestone-2-left: calc(50dvw - 5.5dvh);
  --milestone-2-top: 54dvh;
}
