@use './reset';
@use './main';
@use './header';
@use './languageToggle';
@use './milestone';
@use './starsPlayer';
@use './avatar';
@use './popup';

:root {
  --font-family: 'Lilita One';
  --font-family-form-inputs: 'Lilita One';
  --milestone-1-left: calc(50dvw - 9.7dvh);
  --milestone-1-top: 83dvh;
  --milestone-2-left: calc(50dvw - 6.2dvh);
  --milestone-2-top: 48.1dvh;
}
