.main {
  position: relative;

  overflow: hidden;

  width: 100vw;
  height: 100vh;

  background: #000;
  background-image: url('../assets/images/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

.start-button {
  cursor: pointer;

  position: absolute;
  top: 0;
  left: 50vw;
  transform: translateX(-50%);

  width: 46vh;
  height: 10.6vh;

  opacity: 0;
}

.milestone {
  position: absolute;
  transform: translate(-50%, -50%);

  background-repeat: no-repeat;
  background-position: center;
  background-size: 44%;

  -webkit-tap-highlight-color: transparent;

  &__active-animation {
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  &_1 {
    width: calc(100vh * 0.19);
    height: calc(100vh * 0.19);
    background-image: url('../assets/images/milestone_1.png');

    .milestone__active-animation {
      transform: rotateX(-31deg) translate(-0.1vh, -0.13vh);
      transition: opacity 1s ease-in-out;
    }

    &.milestone_active {
      cursor: pointer;
    }
  }

  &_2 {
    width: calc(100vh * 0.17);
    height: calc(100vh * 0.17);
    background-image: url('../assets/images/milestone_2.png');

    .milestone__active-animation {
      transform: rotateX(-31deg) translate(0, -0.28vh);
    }
  }

  &_active {
    .milestone__active-animation {
      opacity: 1;
      transition: opacity 1s ease-in-out;
    }
  }

  &_done {
    background-image: url('../assets/images/milestone_done.png');
  }
}

.stars-player {
  position: absolute;
  top: 0;
  transform: translateX(-50%);

  opacity: 0;

  animation: 2s stars;
}

@keyframes stars {
  from {
    transform: translate(-50%, 100%);
    opacity: 1;
  }

  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

.avatar {
  position: absolute;
  transform: translate(-50%, -120%);
  width: calc(100vh * 0.13);
  height: calc(100vh * 0.13);

  &_switching-milestones {
    animation: avatar-switching-milestones 1s ease-in-out forwards;
  }
}

@keyframes avatar-switching-milestones {
  from {
    top: var(--avatar-animation-start-top);
    left: var(--avatar-animation-start-left);
  }

  to {
    top: var(--avatar-animation-end-top);
    left: var(--avatar-animation-end-left);
  }
}

.popup {
  position: absolute;
  top: 0;
  left: 0;

  display: none;

  width: 100vw;
  height: 100vh;

  background-color: rgb(0 0 0 / 70%);

  &_visible {
    display: block;
  }

  &_loading {
    .popup__loader-container {
      display: grid;
    }
  }

  &__background {
    position: absolute;
    top: 14vh;
    left: 50vw;
    transform: translateX(-50%);

    height: calc(73vh);
  }

  &__input {
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);

    width: 22vh;
    border: none;

    font-size: 1.75vh;
    line-height: 3.5vh;
    color: #3c53a3;

    background: none;
    outline: none;

    &::placeholder {
      color: #3c53a3;
    }

    &_type_name {
      top: 48.05vh;
    }

    &_type_company {
      top: 54.25vh;
    }

    &_type_job {
      top: 60.45vh;
    }

    &_type_email {
      top: 66.62vh;
    }

    &_type_answer {
      top: 63.85vh;
      width: 13vh;
      line-height: 4.8vh;
      text-align: center;
    }
  }

  &__submit-button {
    cursor: pointer;

    position: absolute;
    top: 79vh;
    left: 50vw;
    transform: translateX(-50%);

    width: 15vh;
    height: 4.5vh;

    opacity: 0;

    -webkit-tap-highlight-color: transparent;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  &__loader-container {
    position: absolute;
    top: 0;
    left: 0;

    display: none;
    place-items: center;

    width: 100vw;
    height: 100vh;

    background-color: rgb(0 0 0 / 50%);
  }

  &__loader {
    width: 8vh;
    height: 8vh;
    border: 1vh solid #fff;
    border-bottom-color: transparent;
    border-radius: 50%;

    animation: rotation 1s linear infinite;
  }

  &__error {
    pointer-events: none;

    position: absolute;
    bottom: 2vh;
    left: 50vw;
    transform: translateX(-50%);

    width: 35vh;

    font-size: 3vh;
    color: red;
    text-align: center;
    text-shadow: #000 2px 2px 10px;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
